.navbar {
    background-color: hsl(0, 0%, 40%);
    padding: 20px 60px;

  }
  
  .nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-list li {
    display: inline;
  }
  
  .nav-list li:not(:last-child) {
    margin-right: 20px;
  }
  
  .nav-list li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }
  
  .nav-list li a:hover {
    color: #ffcc00;
  }
  