h1 {
    margin-bottom: 0px;
    margin-top: 0px;
}
.generate-outfit-container{
    display: flex;
    flex-direction: column;
    justify-content: center; /* Horizontally center items */
    align-items: center; /* Vertically center items */
    padding: 30px;
    margin: 30px;
}
.weather-text-box {
    max-width: 400px;
}

select#style-selector {
    margin: 5px;
}
